@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
    font-variation-settings: "opsz" 24;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

.body-container {
    /* __|__ */
    height: 100vh;
}

.frappe-sidebar-new {
    transition: .3s all ease;
}

.nav-link-item:hover, .active {
    background: #F3F3F3;
}

.nav-link-item[active=true] {
    background: white;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), 0px 1px 2px rgba(0, 0, 0, .2);
}



table {
    color: #383838;
    font-size: 14px;
    font-style: normal;
    font-weight: 420;
    line-height: 115%; /* 16.1px */
    letter-spacing: 0.28px;
    border: 1px solid #EDEDED;
}

table thead, table th {
    background-color: #F8F8F8;
    font-size: 11px;
    font-weight: 500 !important;
    height: fit-content;
    letter-spacing: 0.99px;
    line-height: 115%;
    text-transform: uppercase;
    padding: 10px;
}

table td {
    padding: 10px;
    text-align: center;
    text-align: -webkit-center;
}

table td.left {
    text-align: left;
}
table td.right {
    text-align: right;
}


table tr:not(:last-child) {
    border-bottom: 1px solid #EDEDED;
}

table td:not(:last-child) {
    border-right: 1px solid #EDEDED;
}