(~F v ~M v ~D) ^
(~J v J v ~H) ^
(~V v R v ~H) ^
(O v ~E v ~F) ^
(~C v J v ~T) ^
(~F v ~F v Z) ^
(~Q v ~M v H) ^
(X v F v ~E) ^
(~Q v ~D v ~A) ^
(~O v ~O v J) ^
(O v ~F v ~U) ^
(~T v ~Y v ~B) ^
(W v Q v ~K) ^
(~G v ~J v N) ^
(D v Q v L) ^
(~N v M v ~Q) ^
(~P v ~A v S) ^
(J v X v ~K) ^
(Z v Y v Q) ^
(L v I v F) ^
(~W v ~I v I) ^
(Z v ~O v ~Z) ^
(~Y v U v ~W) ^
(K v I v X) ^
(~C v Y v ~O) ^
(M v O v D) ^
(E v ~A v U) ^
(E v ~E v ~W) ^
(J v C v H) ^
(D v X v ~T) ^
(~D v F v K) ^
(~J v I v ~M) ^
(U v ~U v Q) ^
(~S v ~W v ~D) ^
(~B v Z v ~Y) ^
(~F v G v ~K) ^
(L v T v ~G) ^
(I v S v ~Y) ^
(B v ~W v O) ^
(F v N v I) ^
(~I v D v ~S) ^
(~X v Q v Y) ^
(A v ~Z v ~Z) ^
(P v R v V) ^
(Q v ~I v ~N) ^
(Z v B v ~F) ^
(~A v O v ~I) ^
(F v ~W v X) ^
(~F v ~W v ~C) ^
(O v N v ~C) ^
(~V v ~O v B) ^
(~G v P v M) ^
(V v ~Q v X) ^
(N v H v ~X) ^
(W v ~S v ~S) ^
(~Q v ~V v J) ^
(N v H v ~H) ^
(P v ~A v I) ^
(~J v H v ~R) ^
(~L v C v K) ^
(Q v ~F v X) ^
(N v D v ~F) ^
(~E v I v ~R) ^
(C v X v Z) ^
(C v ~F v ~I) ^
(Y v ~W v W) ^
(T v ~Q v B) ^
(I v O v T) ^
(N v ~E v ~A) ^
(J v K v D) ^
(~R v F v M) ^
(G v F v ~J) ^
(~V v R v ~F) ^
(V v ~W v H) ^
(C v A v O) ^
(B v G v ~V) ^
(~S v Z v ~F) ^
(~L v O v ~U) ^
(Y v W v ~L) ^
(~Y v H v K) ^
(~E v ~O v ~T) ^
(~C v B v ~Z) ^
(V v ~X v ~M) ^
(~V v J v ~L) ^
(L v ~F v ~C) ^
(F v ~A v C) ^
(~J v O v ~F) ^
(~F v W v N) ^
(O v S v ~U) ^
(J v S v ~D) ^
(~P v A v W) ^
(~K v ~Z v ~O) ^
(~Q v N v ~Q) ^
(~O v R v ~P) ^
(R v ~X v N) ^
(~E v Q v ~Z) ^
(~S v C v L) ^
(~G v E v ~Y) ^
(S v ~T v ~T) ^
(~T v A v ~J) ^
(~A v ~J v Q) ^
(E v Y v N) ^
(I v ~N v A) ^
(D v ~F v ~L) ^
(D v ~K v E) ^
(Y v R v ~V) ^
(~D v S v ~E) ^
(Y v U v ~W) ^
(~W v Z v J) ^
(E v O v F) ^
(W v R v H) ^
(R v D v K) ^
(Y v V v ~R) ^
(K v G v ~N) ^
(~B v ~I v ~Y) ^
(L v L v Q) ^
(Q v Z v E) ^
(R v W v ~R) ^
(~Y v ~L v ~K) ^
(~H v ~X v ~D) ^
(~S v C v ~J) ^
(~T v H v H) ^
(E v ~Q v B) ^
(P v ~H v ~B) ^
(~A v O v I) ^
(~U v ~G v O) ^
(~A v G v Q) ^
(X v A v G) ^
(~Q v ~Q v A) ^
(~Z v L v ~F)